// ============================================
// Table Styles
// ============================================

.table {
  width: 100%;
  margin-bottom: $spacing-4;
  color: $text-primary;
  vertical-align: top;
  border-color: $border-color;

  > :not(caption) > * > * {
    padding: $spacing-3 $spacing-4;
    background-color: transparent;
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px transparent;
  }

  > thead {
    vertical-align: bottom;
    background-color: $gray-100;
    font-weight: $font-weight-semibold;

    th {
      border-bottom: 2px solid $border-color-dark;
      color: $text-primary;
    }
  }

  > tbody {
    vertical-align: inherit;

    tr {
      transition: background-color 0.15s ease-in-out;

      &:hover {
        background-color: $gray-50;
      }

      &:nth-of-type(even) {
        background-color: rgba($gray-100, 0.5);
      }
    }
  }

  &.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba($gray-100, 0.5);
  }

  &.table-hover > tbody > tr:hover {
    background-color: $gray-100;
  }

  &.table-bordered {
    border: 1px solid $border-color;

    > :not(caption) > * {
      border-width: 1px 0;

      > * {
        border-width: 0 1px;
      }
    }
  }
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  @include media-md {
    display: block;
  }
}

.table-actions {
  white-space: nowrap;
  width: 1%;

  .btn {
    padding: $spacing-1 $spacing-2;
    font-size: $font-size-sm;
    margin-right: $spacing-1;

    &:last-child {
      margin-right: 0;
    }
  }
}


