// ============================================
// Table Styles
// ============================================

.table {
  width: 100%;
  margin-bottom: $spacing-4;
  color: $text-primary;
  vertical-align: top;
  border-color: $border-color;

  > :not(caption) > * > * {
    padding: $spacing-3 $spacing-4;
    background-color: transparent;
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px transparent;
  }

  > thead {
    vertical-align: bottom;
    background-color: $gray-100;
    font-weight: $font-weight-semibold;
    border-bottom: 1px solid $border-color;

    th {
      color: $text-primary;
    }

    th:first-child {
      text-align: left;
    }

    th:not(:first-child) {
      text-align: center;
    }
  }

  > tbody {
    vertical-align: inherit;

    tr {
      transition: background-color 0.15s ease-in-out;
      border-bottom: 1px solid $border-color;
      background-color: transparent;

      &:hover {
        background-color: rgba(0, 0, 0, 0.02);
      }

      &:nth-of-type(even) {
        background-color: transparent;
      }
    }

    td:first-child {
      text-align: left;
    }

    td:not(:first-child) {
      text-align: center;
    }
  }

  &.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: transparent;
  }

  &.table-hover > tbody > tr:hover {
    background-color: rgba(0, 0, 0, 0.02);
  }

  td .badge {
    background-color: #e5e7eb;
    color: $text-primary;
    border-radius: 9999px;
    padding: 0.25rem 0.625rem;
    font-weight: 500;
  }

  &.table-bordered {
    border: 1px solid $border-color;

    > :not(caption) > * {
      border-width: 1px 0;

      > * {
        border-width: 0 1px;
      }
    }
  }
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  @include media-md {
    display: block;
  }
}

.table-actions {
  white-space: nowrap;
  width: 1%;
  text-align: center;

  .btn {
    padding: 0.2rem 0.45rem;
    font-size: $font-size-sm;
    margin-right: $spacing-1;

    &:last-child {
      margin-right: 0;
    }
  }
}


